@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 9 9 11; /* Zinc 950 */
  --foreground: 250 250 250; /* Zinc 50 */
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
